<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Form Add Customers</h1>
    <form action="save" method="post">
      <table>
        <td>
          <!-- id -->
          <input type="text" id="id" name="id" placeholder="Enter id" />
          <span id="erId"></span>
        </td>
        <tr>
          <td>
            <!-- name -->
            <input type="text" id="name" name="name" placeholder="Enter name" />
            <span id="erName"></span>
          </td>
        </tr>
        <tr>
          <td>
            <!-- email -->
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Enter email"
            />
            <span id="erEmail"></span>
          </td>
        </tr>
        <tr>
          <td>
            <!-- address -->
            <input
              type="text"
              id="address"
              name="address"
              placeholder="Enter address"
            />
            <span id="erAddress"></span>
          </td>
        </tr>
        <tr>
          <td>
            <!-- total -->
            <input
              type="text"
              id="total"
              name="total"
              placeholder="Enter total"
            />
            <span id="erTotal"></span>
          </td>
        </tr>
        <tr>
          <td>
            <!-- id -->
            <input type="submit" value="Add" />
          </td>
        </tr>
      </table>
    </form>
    <h1>Table Customers</h1>
    <form action="/delete" method="post">
      <table>
        <tr>
          <td>Customer ID</td>
          <td>Name</td>
          <td>Email</td>
          <td>Address</td>
          <td>Total</td>
          <td>Delete</td>
          <td>Update</td>
        </tr>
        <%customers.forEach(customer =>{ %>
        <tr>
          <td><%=customer.id%></td>
          <td><%=customer.name%></td>
          <td><%=customer.email%></td>
          <td><%=customer.address%></td>
          <td><%=customer.total%></td>
          <td>
            <input
              type="checkbox"
              id="<%=customer.id%>"
              name="<%=customer.id%>"
            />
          </td>
          <td>
            <button type="button"
              onclick="window.location.href='/edit?id=<%=encodeURIComponent(customer.id)%>'"
            >
              Update
            </button>
          </td>
        </tr>
        <%}) %>
      </table>
      <input type="submit" value="Delete" />
    </form>
  </body>
</html>
